<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VaultCore Dashboard</title>
</head>
<body>

<h2>VaultCore Financial - Dashboard</h2>

<form th:action="@{/balance}" method="get">
    <label>Account Number:</label>
    <input type="text" name="accountNumber" placeholder="ACCT001" required />
    <br><br>

    <button type="submit">Get Balance</button>
</form>

<p th:text="${balanceMsg}"></p>

<h3 th:if="${balance != null}" th:text="'Balance: ' + ${balance}"></h3>

</body>
</html>
